@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f8e8d9; /* Warna latar belakang untuk seluruh halaman */
}

.text-center .blockquote p {
    font-size: 45px; /* Atur ukuran font sesuai keinginan Anda */
}
.text-end .blockquote p {
    font-size:20px; /* Atur ukuran font sesuai keinginan Anda */
    padding-right: 15px;
}
.text-end .blockquote-footer {
    font-size: 13px; /* Atur ukuran font sesuai keinginan Anda */
    padding-right: 15px;
}

.navbar {
    height: 70px; /* Ubah sesuai kebutuhan */
}

.btn-custom {
    background-color: #ff5733; /* Warna latar belakang kustom */
    color: #ffffff; /* Warna teks kustom */
    border: none; /* Menghapus border */
}

.btn-custom:hover {
    background-color: #e14b2e; /* Warna latar belakang saat hover */
    color: #ffffff; /* Warna teks saat hover */
}
